In [60]:
import numpy as np
import pandas as pd

In [61]:
data = pd.read_csv('/Users/elizabethb/Desktop/train.csv', sep=';')

In [62]:
data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [63]:
data[data['gender'] == 1]['height'].mean()
data[data['gender'] == 2]['height'].mean()

169.94789538210054

In [64]:
data[data['gender'] == 1]['height'].mean()

161.35561168460356

In [65]:
data['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [66]:
data.groupby('gender')['alco'].agg(np.mean)

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

In [67]:
pd.crosstab(data['gender'], data['smoke'])

smoke       0     1
gender
1       44717   813
2       19114  5356

In [68]:
g = data.groupby('smoke')
for (i, sub_data) in g:
    print((sub_data['gender']==1).mean(), (sub_data['smoke']==1).mean())

0.700553022826 0.0
0.131787972119 1.0

In [69]:
g = data.groupby('smoke') 
for (i, sub_data) in g:
    print((sub_data['gender']==2).mean(), (sub_data['smoke']==1).mean())

0.299446977174 0.0
0.868212027881 1.0

In [70]:
(data[data['smoke']==1]['age']/365.25*12).median(), \
(data[data['smoke']==0]['age']/365.25*12).median()

(628.3367556468172, 647.9507186858316)

In [71]:
sm_w = data[data['gender'] == 1]['smoke']
sm_m = data[data['gender'] == 2]['smoke']
print(round((100 * sm_m.mean()) / (100 * sm_w.mean())))

12.0

In [72]:
data['BMI'] = data['weight'] / (data['height'] * data['height'] / 10000) 
print('BMI median', data['BMI'].median()) 
print('Women', data[data['gender'] == 1]['BMI'].mean(), 'Men', data[data['gender'] == 2]['BMI'].mean()) 
print('Healthy', data[data['cardio'] == 0]['BMI'].mean(), 'Sick', data[data['cardio'] == 1]['BMI'].mean()) 
print('Men healthy&nonalco', data[(data['gender'] == 2) & (data['cardio'] == 0) & (data['alco'] == 0)]['BMI'].mean(), 
'Women healthy&nonalco', data[(data['gender'] == 1) & (data['cardio'] == 0) & (data['alco'] == 0)]['BMI'].mean())

BMI median 26.374068120774975
Women 27.9875834418 Men 26.7544423573
Healthy 26.5481752068 Sick 28.566060627
Men healthy&nonalco 25.8726380755 Women healthy&nonalco 26.8454065941

In [73]:
dff = data[(data['ap_lo'] > data['ap_hi']) |
               (data['height'] < (data['height'].quantile(.025))) |
               (data['height'] > (data['height'].quantile(.975))) |
               (data['weight'] < (data['weight'].quantile(.025))) |
               (data['weight'] > (data['weight'].quantile(.975)))]
a = len(dff)
b = len(data)
print(a, b)
end = ((a/b) * 100)
print(round(end))

6741 70000
10

In [75]:
data['age_years'] = round(data['age'] / 365.25) 
men_1 = data[(data['age_years'] <= 64) & (data['age_years'] >= 60) & (data['ap_hi'] < 120) & (data['cholesterol'] == 1) 
             & (data['gender'] == 2) & (data['smoke'] == 1)]['cardio'] 
men_2 = data[(data['age_years'] <= 64) & (data['age_years'] >= 60) & (data['ap_hi'] < 180) & (data['ap_hi'] >= 160) & 
             (data['cholesterol'] == 3) & (data['gender'] == 2) & (data['smoke'] == 1)]['cardio'] 
print(round((100 * men_2.mean()) / (100 * men_1.mean())))

3.0